html {
  background-color: #f0e0c3; /* Match the plasterboard texture before loaded*/
  background-image: url('src/assets/plasterboard-texture-medium.webp');
  background-repeat: repeat;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.5rem 2rem;
  text-align: center;
}

body {
  background-color: transparent !important;
}

.wedding-red {
  color: #c13c35;
}
